*.idea
*.jpg
*.png
*.gif
*.swp
*.pyc
__pycache__
*.mp4
**/venv
*.avi
**/data
**/video
*.zip
*.pth
models
homotopy_test_data
model.pth
*.pb
build
*.egg-info
data/
Pipfile
Pipfile.lock
.DS_Store
*.env
scripts/tests/
.vscode
*.tar
*.rrd
.env*
scripts/adi_owlsam.py
scripts/gptv_testing.py
scripts/navigation_labeller.py
scripts/save_waypoint_pics.py
scripts/vlm_declutter.py
