*.idea
*.jpg
*.png
*.swp
*.pyc
__pycache__
*.mp4
**/venv
*.avi
**/data
**/video
*.zip
*.pth
models
homotopy_test_data
model.pth
*.pb
build
*.egg-info
data/
Pipfile
Pipfile.lock
.DS_Store
*.env
scripts/tests/
